/* Globalne style layoutu */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.logout-btn {
  background: white;
  color: #1DB954;
  border: 2px solid #1DB954;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #1DB954;
  color: #121212;
}
